
        <%-include("./partial/header") -%>
    
        <h1>Compose</h1>
        <form action="/users/compose" method="post">
            <%-include('./partial/message')%>
            <br>
            <h4>Title</h4>
            <input type="text" class="form-control" name='title' autocomplete="off" value=<%= typeof title != 'undefined' ? title : '' %> >
            <br>
            <h4>Post</h4>
            <textarea class="form-control" rows="5" name='content' autocomplete="off" value=<%= typeof content != 'undefined' ? content : '' %> ></textarea>
            <br>
            <button type="submit" class='btn btn-large btn-primary'>Publish</button>
        </form>
   
<%-include('./partial/footer') -%>