
    <%-include("./partial/header") -%>
    <h1 class="page-title"><%=post.title.toUpperCase()%></h1>
    <p class="page-content"><%=post.content%></p>  
    <br>
    <h4 class="writer-info" style="font-weight: 800;">Written By</h4>
    <h4 class="writer-info">Name: <%=writername%></h3>
    <%if( typeof writeremail !='undefined'){%>
    <h4 class="writer-info">Email: <%=writeremail%></h4>
    <%}%>

<%- include('./partial/footer') -%>
    